body {
    background: #222222;
    color: #CCCCCC;
}
.site-header { /* header to the center, logo to the right */
  display: flex;
  justify-content: center;    
  align-items: center;        
  position: relative;         
  padding: 20px 40px;
}

.site-title {
  margin: 0;
  font-family: 'Noto Serif', serif;
  font-size: 2em;
}

.site-logo {
  position: absolute;  /* positioned to the top right of the page*/       
  top: 20px;                  
  right: 40px;                
  height: 100px;               
  width: auto;
}

h1 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: 100px;
  }
h3 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;

}

p {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    color: #EAEAEA ;
    line-height: 1.6;
  }
.intro {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
      }
.home-button-wrapper {
        text-align: center;
        margin-bottom: 30px;
      }
      
.home-button {
        background-color: #37003C;
        color: #a773d5;
        padding: 12px 24px;
        font-size: 20px;
        text-decoration: none;
        border: none;
        border-radius: 10px;
        font-family: 'Noto Serif', serif;
        font-weight: bold; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: inline-block;
        margin-top: 40px;
      }
      
.home-button:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }

.playerbanner {
  display: flex;              
  justify-content: space-between; /* Space between players */
  gap: 10px;                  
  margin-top: 50px;
    
}
.playerbanner img {
    width: 180px;               
    height: auto;
    border-radius: 10px;
    
}
.playerbanner img.wide { /* wider image */
    width: 230px;
    height: auto;
}
.three-boxes {
    display: flex;
    justify-content: center; 
    gap: 40px;               
    padding: 0 40px;
  }
  
.box {
    width: 280px;            
    min-height: 200px;
    background-color: #37003C; /* FPL purple */
    color: #a773d5;
    padding: 20px;
    border-radius: 10px; /* rounder edges */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
.box:hover {
    transform: scale(1.10); /*makes it bigger */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* shadow */
  }

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.box-note {
    font-size: 18px;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
    width: 280px;
  }

.box-link {
    text-decoration: none; 
    color: inherit;
    display: inline-block;
    
  }
  
.active-box {
    background-color: #b1afb1;  /* different to other boxes */
    color: #07000c;             /* different to other boxes */
    cursor: default;
    transform: none; 
    box-shadow: none; 
    pointer-events: none; 
}

.active-box:hover { 
    transform: none; /* no hover or shadow */
    box-shadow: none;
}
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  justify-content: center;
}

.player-section {
  width: 66%; /* 2/3 of the page */
  background-color: #3F364D; /* FPL purple */
  color: white;
  border-radius: 20px; /* makes edges rounder */
  padding: 30px;
  margin-bottom: 2cm; 
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  font-family: 'Noto Serif', serif;
  line-height: 1.6;
}

.player-section h3 {
  margin-top: 0;
  color: #ffffff;
}

.player-section p {
  margin: 0;
}
.player-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.player-text {
  flex: 2;
}

.player-image {
  flex: 1;
  height: 300px;
  max-width: 200px;
  border-radius: 12px;
  object-fit: cover;
}
.player-video {
  flex-shrink: 0; 
}


.clean-list {
  padding-left: 0; 
  margin: 0.5rem 0;
  font-family: 'Crimson Text', serif; 
  font-size: 18px;
  line-height: 1.6; 
  color: #EAEAEA;
}
  

/* Footer styles */
.footer-nav {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer-nav a {
  
  color: #f1f0f3; 
  text-decoration: none;
  margin: 0 8px;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.footer-nav a:hover {
  background-color: #555; /* Darker hover effect */
}

.footer-nav a:focus {
  outline: none; 
}